/* universal code */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    
}

/* navbar section related code */
#navbar-section{
    background-color: #1A0B2E;
    border-bottom: 1px solid #383838;
}

.navbar{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    padding: 15px 10%;
}

.logo{
    width: 219px;
    height: 32px;
}

.logo .tech{
    color: #FFFFFF;
    font-weight: 700;
}

.wave{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.nav-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.icon{
    display: none;
}

.nav-button{
    text-align: right;
}

.nav-subscribe-btn{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    padding: 13px 16px;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 550;
    animation: easy-pulse 3s infinite;
}
/* nav subscribe btn animation scale */
@keyframes easy-pulse {
    0% {
        transform: scale(1); /* Normal size */
        box-shadow: 0 0 0 0 #230E3D;
    }
    50% {
        transform: scale(1.05); /*  expanding */
        box-shadow: 0 0 3px 3px #00ffa3;
    }
    100% {
        transform: scale(1); /* Back to normal */
        box-shadow: 0 0 0 0 #230E3D;
    }
}

/* Hero section related code */

#hero-section{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 20px;
}

.mic-circle{
    background-image: url(../assets//hero-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 90px;
}

.mic-icon{
    width: 120px;
   
}

.new-badge{
    position: absolute;
    top: 15px;
    right: 45px;
    background-color: #00ffa3;
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00ffa3;
}

.hero-title{
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.hero-description{
    font-size: 1rem;
    color:#cdc4c4;
    margin-bottom: 25px;

}

.hero-buttons{
    display: flex;
    align-items: center;
    align-content: center;

}

.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 42px;
    font-weight: 600; 
}

.spotify-btn{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;

}

.hero-subscribe-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    margin-left: 10px;
}

/* About section related codes */
#about-section{
    background-color: #1A0B2E;
    padding: 80px 10%;
    text-align: center;
    color: #FFFFFF;
}

.text-content{
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-description{
    font-size: 1rem;
    color: #cdc4c4;
}

.divider{
    border: none;
    height: 1px;
    background: #383838;
}

.statistics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.statistics-data{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 10px;
}

.statistics-label{
    font-size: 1rem;
    color: #cdc4c4;
    text-transform: uppercase;
}



/* why choose section */
#why-choose-section{
    background-color: #230E3D;
    padding: 80px 12%;
    color: #FFFFFF;
    text-align: center;
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}

/* grid distribution idea */

    .advantage-audio { grid-area: audio; }
    .advantage-mobile { grid-area: mobile; }
    .advantage-global { grid-area: global; }
    .advantage-interview { grid-area: interview; }
    .advantage-resource { grid-area: resource; }


.advantage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: 
 
    "audio      mobile     mobile"
    "audio      global     global"
    "interview  interview  resource";
}

.advantage-card{
    background-color: rgba(53, 17, 101, 0.4);
    text-align: left;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.adv-icon{
    width: 45px;
    margin-bottom: 20px;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.card-description{
    font-size: 1rem;
    line-height: 24px;
    color: #cdc4c4;
}

/* feature section related codes */

#feature-section{
    background-color: #1A0B2E;
    padding: 80px 10%;
}

.section-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    /* flex-wrap: wrap;  */
    padding: 20px
}

.episode-card{
    background-color: #230E3D; 
    color: white;
    border-radius: 15px;
    width: 360px;
    height: 490px;
    overflow: hidden;
}

.card-heading{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    padding:10px 15px ;
}

.card-details{
    font-size: 0.8rem;
    font-weight: 300;
    color:#cdc4c4;
    padding:10px 15px ;

}

.duration{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

/* Meet the host section */
#meet-host{
    background-color: #1A0B2E;
    padding: 60px ;
    text-align: center;
    color: #FFFFFF;
}

.host-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.host-card{
    background-color: #230E3D;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 30px;
    padding: 40px;
    border-radius: 20px;
}

.host-name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.host-details{
    font-size: 0.9rem;
    color: #cdc4c4;
    margin-bottom: 20px;
}

.host-socials{
    display: flex;
    gap: 20px;
}

.social-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #2c2a2a; 
    border-radius: 50%;
    transition: all 0.3s ease;
}

.host-socials img{
    width: 15px;
    height: 15px;
}

/* footer section */

#footer-section{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 40px 20px;
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-logo{
    width: 220px;
    height: 32px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 18px;
}

.footer-logo span{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 30px;   
}

.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #cdc4c4;
    font-size: 16px;
    /* margin: 45px 0px 25px 0px; */
}

.copyright{
    color:#cdc4c4;
    font-size: 0.6rem;
    margin-left: 23px;
}

.social-item img{
    width: 20px;
    height: 20px;
}


/* Responsiveness related code */

@media screen and (max-width:576px){
    /* navbar */
    .navbar{
        grid-template-columns:1fr auto;
    }

    .logo{
        padding: 10px auto;
    }

    .nav-menu ul{
        display: none;
    }

    .icon{
        display: inline;
    }

    .nav-subscribe-btn{
        display: none;
    }

    /* hero section */


    /* about section */
    .statistics-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .about-title{
        font-size: 2rem;
        font-weight: 600;
    }

    /* why choose section */
    .advantage{
        grid-template-columns: 1fr;
        grid-template-areas: none;
        gap: 20px;
    }

    .advantage-card{
        grid-area: auto;
    }

    .section-title{
        font-size: 2rem;
        font-weight: 600;
    }

    .card-title{
        font-weight: 400;
    }
    
    /* feature-section */
    .section-heading{
        font-size: 2rem;  
    }
    .card-container{
        flex-wrap: wrap;
    }

    .card-heading{
        font-weight: 400;
    }

     /* meet the host section */
     #meet-host{
        padding: 20px;
     }

     .host-title{
        font-size: 2.2rem;
     }

    .host-card{
        flex-direction: column;
        text-align: center;
    }

    .host-socials{
        justify-content: center;
    }

    /* footer section */

   
    .footer-logo{
        font-size: 2.5rem;
        margin-left: 30px;
    }

    .social-links {
        display: grid;
        grid-template-columns: repeat(2, auto); 
        gap: 20px 10px; 
        justify-content: center;
        width: 100%;
    }

    .social-links .social-item:nth-child(n+3) {
    margin-left: 30px;
    }
    
    .copyright {
        font-size: 0.9rem;
        margin-top: 20px;
        margin-right: 20px; 
    }
  
}
