*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    
}

/* navbar section related code */
#navbar-section{
    background-color: #1A0B2E;
    border-bottom: 1px solid #383838;
}

.navbar{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    padding: 15px 10%;
}

.logo{
    width: 219px;
    height: 32px;
}
.logo .tech{
    color: #FFFFFF;
    font-weight: 700;
}
.wave{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    
}
.nav-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}
.icon{
    display: none;
}
.nav-button{
    text-align: right;
}
.nav-subscribe-btn{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    padding: 13px 16px;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 550;
}

/* Hero section related code */

#hero-section{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 20px;
}


.mic-circle{
    background-image: url(../assets//hero-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 90px;
}
.mic-icon{
    width: 120px;
   
}
.new-badge{
    position: absolute;
    top: 15px;
    right: 45px;
    background-color: #00ffa3;
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00ffa3;
}
.hero-title{
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.hero-description{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 25px;

}
.hero-buttons{
    display: flex;
    align-items: center;
    align-content: center;

}

.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 42px;
    font-weight: 600;
    
   
}
.spotify-btn{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;

}
.hero-subscribe-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    margin-left: 10px;
}




/* Responsiveness related code */



@media screen and (max-width:576px){
    /* navbar */
    .navbar{
        grid-template-columns:1fr auto;
    }
    .logo{
        padding: 10px auto;
    }
    .nav-menu ul{
        display: none;
    }
    .icon{
        display: inline;
    }
    .nav-subscribe-btn{
        display: none;
    }
    /* hero section */
    

}
